.list {
  list-style: none;
  margin: 0 auto;
  width: 150px;
}

li {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
}

input {
  margin-bottom: 10px;
}
